@import url("./style.css");

body {

    overflow: hidden;
}

#background {

    position: fixed;
    
    min-width: 100%;
    min-height: 100%;
    
    object-fit: cover;

    z-index: -1;
}

.titles {

    position: absolute;
    color: white;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
    gap: 77vh;
}